@model IEnumerable<StudentManagementSystem.Models.Student>
@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}




<div class="row">
    <div class="col-md-12">
        <h2 class="d-flex justify-content-center alert alert-info">Students List</h2>
        <div class="d-flex justify-content-end">
            <a href="@Url.Action("Create","Students")" class="btn btn-primary"><span class="fa fa-plus"></span></a>
        </div>
        <table class="table table-bordered table-striped" style="margin-top:5px;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x => x.StudentName)</th>
                    <th>@Html.DisplayNameFor(x => x.BirthDate)</th>
                    <th>@Html.DisplayNameFor(x => x.Class)</th>
                    <th>@Html.DisplayNameFor(x => x.Section)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@Html.DisplayFor(x => item.StudentName)</td>
                        <td>@Html.DisplayFor(x => item.BirthDate)</td>
                        <td>@Html.DisplayFor(x => item.Class)</td>
                        <td>@Html.DisplayFor(x => item.Section)</td>

                        <td>
                            <a href="@Url.Action("Edit", new { id=item.StudentId})" class="btn btn-success"><span class="fa fa-edit"></span></a>
                            <a href="@Url.Action("Delete", new { id=item.StudentId})" class="btn btn-danger"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            @Html.PagedListPager(Model as IPagedList, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>